include .coveragerc
include .flake8
include .pre-commit-config.yaml
include .isort.cfg
include bin/deploy_aws_ecs
include codecov.yml
include COPYRIGHT.txt
include docs/*.rst
include docs/conf.py
include LICENSE.txt
include myproject.toml
include mypy.ini
include requirements/requirements*.txt
include tox.ini
