# We are not pinning patch version for Boto because:
# • it changes very frequently
# • it is reliably compatible
# • it should improve interoperability with AWS services

# Direct dependencies
arrow==1.2.1
attrs==21.2.0
boto3>=1.17,<1.19
click==8.0.3
docker==5.0.3
GitPython==3.1.18
Twisted==21.7.0

# Indirect dependencies
Automat==20.2.0
botocore==1.27.22
certifi==2021.10.8
chardet==4.0.0
constantly==15.1.0
gitdb==4.0.9
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jmespath==0.10.0
PyHamcrest==2.0.2
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
smmap==5.0.0
urllib3==1.26.9
websocket-client==1.2.3
zope.interface==5.4.0
