# We are not pinning patch version for Boto because:
# • it changes very frequently
# • it is reliably compatible
# • it should improve interoperability with AWS services

arrow==1.2.3
attrs==23.1.0
boto3>=1.26,<1.27
certifi==2023.5.7
click==8.1.3
docker==6.1.3
GitPython==3.1.31
hyperlink==21.0.0
Twisted==22.10.0
zope.interface==6.0
